@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
{
    <script src="~/js/signalr-client.js"></script>
}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div id="div_connectionId" class="alert alert-primary" role="alert"></div>
            <button type="button" class="btn btn-primary">
                Connected Client Counts <span id="span-connected-client-count" class="badge badge-light">4</span>
            </button>
            <button type="button" class="btn btn-primary" id="btn-send-message-all-client">Send to all clients</button>
            <button type="button" class="btn btn-primary" id="btn-send-message-caller-client">Send to caller client</button>
            <button type="button" class="btn btn-primary" id="btn-send-message-other-client">Send to other client</button>

            <div>
                <hr />
                <input type="text" class="form-control" id="text_connectionId" placeholder="connection id">
                <button type="button" class="btn btn-primary" id="btn-send-message-spesific-client">Send to spesific client</button>
            </div>

            <div>
                <hr />
                <div id="groupList" class="alert alert-warning" role="alert"></div>
            </div>


            <button type="button" class="btn btn-primary" id="btn-add-to-group-A">Join to group A</button>
            <button type="button" class="btn btn-primary" id="btn-exit-from-group-A">Exit from group A</button>

            <button type="button" class="btn btn-primary" id="btn-add-to-group-B">Join to group B</button>
            <button type="button" class="btn btn-primary" id="btn-exit-from-group-B">Exit from group B</button>

            <button type="button" class="btn btn-primary" id="btn-send-message-to-group-A">Send message to group A</button>
            <button type="button" class="btn btn-primary" id="btn-send-message-to-group-B">Send message to group B</button>

            <hr />
            <button type="button" class="btn btn-primary" id="btn-send-message-to-complexed-type">Send complex type message</button>
        </div>
    </div>
</div>
