
@{
    ViewData["Title"] = "Stream";
}
@section Scripts
{
    <script src="~/js/signalr-client-stream.js"></script>
}
<h1>Stream</h1>
<input class="form-control" id="txt_stream" type="text" value="stream1;stream2;stream3;stream4;stream5" />
<button id="btn_from_client_to_hub" class="btn btn-primary my-3">Send Data By Chunk</button>

<div id="stream_box" class="alert alert-info">

</div>


